# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build output
dist/
build/
out/
tmp
out-tsc
*.tsbuildinfo

# Environment / Secrets
.env
.env.*
.env.local

# Google Cloud credentials
*service-account*.json
*credentials*.json

# Sensitive folders
attached_assets/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache / temp
.cache/
.local/
.tmp/

# Misc
coverage/